<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>
  <system.serviceModel>
    <!--<diagnostics>
      <messageLogging
           logEntireMessage="false"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->

    <bindings>
      <netTcpBinding>

        <binding name="Aitex_netTcpBinding" maxReceivedMessageSize="2147483647" openTimeout="00:00:05" closeTimeout="00:03:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxDepth="132" maxStringContentLength="1048576" maxArrayLength="163840000" maxBytesPerRead="14096" maxNameTableCharCount="116384"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:8751/InvokeService" behaviorConfiguration="EndpointBehavior" binding="netTcpBinding" bindingConfiguration="Aitex_netTcpBinding" contract="MECF.Framework.Common.OperationCenter.IInvokeService" name="Client_IInvokeService"/>
      <endpoint address="net.tcp://localhost:8752/EventService" behaviorConfiguration="EndpointBehavior" binding="netTcpBinding" bindingConfiguration="Aitex_netTcpBinding" contract="Aitex.Core.WCF.Interface.IEventService" name="Client_IEventService"/>

      <endpoint address="net.tcp://localhost:8771/QueryDataService" behaviorConfiguration="EndpointBehavior" binding="netTcpBinding" bindingConfiguration="Aitex_netTcpBinding" contract="MECF.Framework.Common.DataCenter.IQueryDataService" name="Client_IQueryDataService"/>
      <endpoint address="net.tcp://localhost:8773/RecipeService" behaviorConfiguration="EndpointBehavior" binding="netTcpBinding" bindingConfiguration="Aitex_netTcpBinding" contract="MECF.Framework.Common.RecipeCenter.IRecipeService" name="Client_IRecipeService"/>
      <endpoint address="net.tcp://localhost:8775/AccountService" behaviorConfiguration="EndpointBehavior" binding="netTcpBinding" bindingConfiguration="Aitex_netTcpBinding" contract="Aitex.Core.Account.IAccountService" name="Client_IAccountService"/>
 
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>


  <log4net>
    <appender name="xmlFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <maxSizeRollBackups value="300"/>
      <param name="StaticLogFileName" value="false"/>
      <datePattern value="yyyyMMdd'.xlog'"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
	      <locationInfo value="true"/>
      </layout>
    </appender>
	  <appender name="txtFileAppender" type="log4net.Appender.RollingFileAppender">
		  <param name="File" value="Logs\log"/>
		  <param name="AppendToFile" value="true"/>
		  <param name="RollingStyle" value="Date"/>
		  <param name="StaticLogFileName" value="false"/>
		  <datePattern value="yyyyMMdd'.txt'"/>
		  <layout type="log4net.Layout.PatternLayout,log4net">
			  <param name="ConversionPattern" value="%m%n"/>
			  <param name="Header" value="&lt;== "/>
			  <param name="Footer" value="==&gt;"/>
		  </layout>
	  </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="xmlFileAppender"/>
      <appender-ref ref="txtFileAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SciChart.Charting" publicKeyToken="b55dd9efe817e823" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.12982" newVersion="6.0.1.12982"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SciChart.Core" publicKeyToken="b55dd9efe817e823" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.12982" newVersion="6.0.1.12982"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SciChart.Data" publicKeyToken="b55dd9efe817e823" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.12982" newVersion="6.0.1.12982"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
