<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SciChart.Charting" publicKeyToken="b55dd9efe817e823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.12982" newVersion="6.0.1.12982" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SciChart.Core" publicKeyToken="b55dd9efe817e823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.12982" newVersion="6.0.1.12982" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SciChart.Data" publicKeyToken="b55dd9efe817e823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.12982" newVersion="6.0.1.12982" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>